Tweet data is stored in JSON format by Twitter. Getting tweet JSON data via tweet ID using Tweepy is described well in this StackOverflow answer. Note that setting the tweet_mode parameter to 'extended' in the get_status call, i.e., api.get_status(tweet_id, tweet_mode='extended'), can be useful.

Also, note that the tweets corresponding to a few tweet IDs in the archive may have been deleted. Try-except blocks may come in handy here.

# Introduction and import of modules

This project aims to use the tweet archive of twitter user `@dog_rates` also known as `WeRateDogs` . The project focusses on collecting, assessing and cleaning the data collected through the Twitter API using `tweepy`. After Wrangling an analysis is made of the data. The initial estimate of necessary modules is as follows:
* pandas
* numpy
* matplotlib
* re
* statsmodels

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import statsmodels.api as sm
%matplotlib inline

In [11]:
import tweepy

consumer_key = 'aNTJRrnNf2PI9JXP7AvpkTB4M'
consumer_secret = 'bPu9Rcwuyn3ps8JNN6UqzEZYfmWo7RbboC8YcNaCLQ3NicD0Ci'
access_token = '92779782-ry7yZqmQq6PvQN9p1dF2pYDo9BBDInMybnwBidmlT'
access_secret = 'Rt5d2aEbsq1NXwDwFKnVBogSgmrRnZew4RnQKcFqNfXjm'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth)

# Description of data sources and import of data

Import of data:

WeRateDogs Twitter archive is available as a csv file, provided by Udacity. the filename is `twitter_archive_enhanced.csv`

The neural network generated file with predictions of dog breeds based on the images in the twitter archive is available from the following website https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv

Use the tweet ID's in the archive, to query the twitter API for additional data, write the additional data to `tweet_json.txt`. Gather at minimum
* tweet id
* Retweet count
* favorite count
Write each tweets json data to a new line in the `tweet_json.txt` file. use:https://stackabuse.com/reading-and-writing-json-to-a-file-in-python/

In [12]:
#load csv file
twitter_archive = pd.read_csv("twitter_archive_enhanced.csv", delimiter = ",")
#check if it worked
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo;;
0,"892420643555336193,,,2017-08-01 16:23:56 +0000...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"892177421306343426,,,2017-08-01 00:17:27 +0000...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"891815181378084864,,,2017-07-31 00:18:03 +0000...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"891689557279858688,,,2017-07-30 15:58:51 +0000...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"891327558926688256,,,2017-07-29 16:00:24 +0000...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2517 non-null   object
 1   in_reply_to_status_id       8 non-null      object
 2   in_reply_to_user_id         3 non-null      object
 3   timestamp                   3 non-null      object
 4   source                      45 non-null     object
 5   text                        52 non-null     object
 6   retweeted_status_id         52 non-null     object
 7   retweeted_status_user_id    52 non-null     object
 8   retweeted_status_timestamp  52 non-null     object
 9   expanded_urls               52 non-null     object
 10  rating_numerator            52 non-null     object
 11  rating_denominator          52 non-null     object
 12  name                        9 non-null      object
 13  doggo                       7 non-null      object
 14  floofer                     4 non-null      object
 15  pupper                      2 non-null      object
 16  puppo;;                     0 non-null      float64
dtypes: float64(1), object(16)
memory usage: 334.4+ KB

In [14]:
twitter_archive.at[0, 'timestamp']

nan

In [15]:
#copied a tweet_id from the csv file for testing purposes with tweepy
test_id = '892420643555336193'
testtweet = api.get_status(test_id)
testtweet.retweet_count, testtweet.favorite_count

(7456, 35327)



        created_at : The time the status was posted.
        id : The ID of the status.
        id_str : The ID of the status as a string.
        text : The text of the status.
        entities : The parsed entities of the status such as hashtags, URLs etc.
        source : The source of the status.
        source_url : The URL of the source of the status.
        in_reply_to_status_id : The ID of the status being replied to.
        in_reply_to_status_id_str : The ID of the status being replied to in as a string.
        in_reply_to_user_id : The ID of the user being replied to.
        in_reply_to_user_id_str : The ID of the user being replied to as a string.
        in_reply_to_screen_name : The screen name of the user being replied to
        user : The User object of the poster of the status.
        geo : The geo object of the status.
        coordinates : The coordinates of the status.
        place : The place of the status.
        contributors : The contributors of the status.
        is_quote_status : Indicates whether the status is a quoted status or not.
        retweet_count : The number of retweets of the status.
        favorite_count : The number of likes of the status.
        favorited : Indicates whether the status has been favourited by the authenticated user or not.
        retweeted : Indicates whether the status has been retweeted by the authenticated user or not.
        possibly_sensitive : Indicates whether the status is sensitive or not.
        lang : The language of the status.

In [16]:
#load additional modules
import requests
import os
# download the image pridections file
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
#check if response worked
response

In [17]:
#download dog breed predictions file and store in base directory
with open('predictions.tsv',mode = 'wb') as file:
    file.write(response.content)

In [18]:
#check if file is downloaded
os.listdir()

['.ipynb_checkpoints',
 'predictions.tsv',
 'Project_4_Wrangling_Twitter.ipynb',
 'Readme.md',
 'twitter_archive_enhanced.csv']

In [19]:
# open file

predictions = pd.read_csv('predictions.tsv', delimiter = '\t' )
predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True



# Data Wrangling

Key points for data wrangling in the assignment
Key Points

Key points to keep in mind when data wrangling for this project:

 * You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
 * Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
 * Cleaning includes merging individual pieces of data according to the rules of tidy data. The fact that the rating numerators are greater than the denominators does not need to be cleaned. This unique rating system is a big part of the popularity of WeRateDogs.
 * You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

##  Assesment

After gathering each of the above pieces of data, assess them visually and programmatically for quality and tidiness issues. Detect and document at least eight (8) quality issues and two (2) tidiness issues

In [20]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2517 non-null   object
 1   in_reply_to_status_id       8 non-null      object
 2   in_reply_to_user_id         3 non-null      object
 3   timestamp                   3 non-null      object
 4   source                      45 non-null     object
 5   text                        52 non-null     object
 6   retweeted_status_id         52 non-null     object
 7   retweeted_status_user_id    52 non-null     object
 8   retweeted_status_timestamp  52 non-null     object
 9   expanded_urls               52 non-null     object
 10  rating_numerator            52 non-null     object
 11  rating_denominator          52 non-null     object
 12  name                        9 non-null      object
 13  doggo                       7 non-null      object
 14  floofer                     4 non-null      object
 15  pupper                      2 non-null      object
 16  puppo;;                     0 non-null      float64
dtypes: float64(1), object(16)
memory usage: 334.4+ KB

In [21]:
twitter_archive.at[0,'tweet_id']

'892420643555336193,,,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He\'s a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,,,,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None;;'

In [22]:
#making a copy for cleaning purposes
twitter_archive_clean= twitter_archive.copy()

In [23]:
#splitting  content in `twitter_arhive.csv`to the columns
tw_arch_series = pd.Series(twitter_archive.tweet_id)
tw_arch_series = tw_arch_series.str.split(',', expand = True)

Having extracted the data into a series object we can add the data to the correct column in the dataframe. As such we need to iterate over all columns, the dataframe has 17 columns. As such we create a range from 0-17 to iterate over, and a list with all the column names. using this iterater and the list we can create a loop, that adds each subsequent column to the correct column in the dataframe

In [24]:
#adding data to columns
tw_arch_series[1]

0
1
2
3
4
       ..
2512
2513
2514
2515
2516
Name: 1, Length: 2517, dtype: object

In [25]:
#creating a column list to iterate over
column_list = twitter_archive_clean.columns.tolist()
column_list

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'retweeted_status_id',
 'retweeted_status_user_id',
 'retweeted_status_timestamp',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo;;']

In [26]:
#loop for iterating over column list and length of column list to split data into columns
rng = range(len(column_list))
for column,i in zip(column_list,rng):
        twitter_archive_clean[column] = tw_arch_series[i]
twitter_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo;;
0,892420643555336193,,,2017-08-01 16:23:56 +0000,"""<a href=""""http://twitter.com/download/iphone""...",This is Phineas. He's a mystical boy. Only eve...,,,,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None;;
1,892177421306343426,,,2017-08-01 00:17:27 +0000,"""<a href=""""http://twitter.com/download/iphone""...","""This is Tilly. She's just checking pup on you...",she's available for pats,snugs,boops,"the whole bit. 13/10 https://t.co/0Xxu71qeIV""",,,,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly
2,891815181378084864,,,2017-07-31 00:18:03 +0000,"""<a href=""""http://twitter.com/download/iphone""...",This is Archie. He is a rare Norwegian Pouncin...,,,,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None;;
3,891689557279858688,,,2017-07-30 15:58:51 +0000,"""<a href=""""http://twitter.com/download/iphone""...",This is Darla. She commenced a snooze mid meal...,,,,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None;;
4,891327558926688256,,,2017-07-29 16:00:24 +0000,"""<a href=""""http://twitter.com/download/iphone""...","""This is Franklin. He would like you to stop c...",,,,"""https://twitter.com/dog_rates/status/89132755...",https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None

In [27]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2517 non-null   object
 1   in_reply_to_status_id       2451 non-null   object
 2   in_reply_to_user_id         2451 non-null   object
 3   timestamp                   2451 non-null   object
 4   source                      2451 non-null   object
 5   text                        2451 non-null   object
 6   retweeted_status_id         2322 non-null   object
 7   retweeted_status_user_id    2306 non-null   object
 8   retweeted_status_timestamp  2305 non-null   object
 9   expanded_urls               2304 non-null   object
 10  rating_numerator            2304 non-null   object
 11  rating_denominator          2304 non-null   object
 12  name                        2256 non-null   object
 13  doggo                       2241 non-null   object
 14  floofer                     2223 non-null   object
 15  pupper                      2219 non-null   object
 16  puppo;;                     2209 non-null   object
dtypes: object(17)
memory usage: 334.4+ KB

In [28]:
#iterate over all columns to see issues and notate them under data quality header
twitter_archive_clean['puppo;;'].unique()

array(['None;;', 'Tilly', 'None', None, 'puppo;;', 'pupper', '10',
       'floofer', 'doggo', 'Snoop', 'Gabe',
       'https://twitter.com/dog_rates/status/819004803107983360/photo/1"',
       'https://twitter.com/dog_rates/status/819006400881917954/photo/1"',
       'Sansa',
       'https://twitter.com/dog_rates/status/779834332596887552/photo/1"',
       '11',
       'https://twitter.com/dog_rates/status/673320132811366400/photo/1"',
       'Archie', 'Gizmo'], dtype=object)

In [29]:
twitter_archive_clean.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo;;
count,2517,2451,2451,2451,2451,2451,2322,2306,2305,2304,2304,2304,2256,2241,2223,2219,2209
unique,2455,93,34,2359,83,2400,335,85,181,1971,666,294,880,270,104,101,18
top,;;,,,,"""<a href=""""http://twitter.com/download/iphone""...",10,,,,,10,10,None,None,None,None,None;;
freq,50,2358,2358,80,2221,13,1914,2026,2043,174,330,1580,507,1607,1953,1927,1505

In [50]:
#check tweet_id to see if all columns contain a sequence of digits or not
twitter_archive_clean[~twitter_archive_clean['tweet_id'].str.contains(r'\d+')]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo;;
7,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
30,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
61,"(IG: puffie_the_chow) https://t.co/ghXBIIeQZF""",,,,https://twitter.com/dog_rates/status/881536004...,14,10,a,None,None,pupper,None;;,None,None,None,None,None
79,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
80,"https:/…""",8.782815110064783e+17,4196983835.0,2017-06-23 16:00:04 +0000,"""https://www.gofundme.com/3yd6y1c",https://twitter.com/dog_rates/status/878281511...,13,10,Shadow,None,None,None,None;;,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2277,WE RIDE;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2278,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2406,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2480,DOG: idgaf this flashlight tastes good as hell;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2481,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [30]:
predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [31]:
predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

### Data tidyness
#### twitter archive .csv file
* csv file, all data in one column, no consistent deliminator (deliminators used : ',' space, '<a' ,';')
* after intital split, part or text in `retweeted_stats_id`, `retweetet_status_user_id` and `retweeted_status_timestamp`. rating numerator and denuminator in wrong column sometimes       
* `text` contains rating sometimes
* `retweeted_status_id` contains parts of `text` and `rating` and parts of a link sometimes, actual id's are notated in scientific format
* `retweeted_status_user_id` contains part of `text` and `ratings` and part of a link, also user id's notated as floating point and in scientific notation, also contains `names`
* `retweeted_status_timestamp` contains parts of links, `ratings`, `id`, parts of `text` and `timestamps` and `names`
* `expanded_urls` contains parts of `text` and `rating` and `expanded_urls` and part of links
* `rating_numerator` contains mainly urls possible from `expanded_urls`
* `rating_denominator` contains mainly urls possible from `expanded_urls`
* `name` contains `names`, `links`, and part of `ratings
* `doggo` contains  `names`, `links`, part of ratings
* `floofer`  contains  `names`, `links`, part of ratings
* `puppo` contains `names`, `links`, `doggo`, `floofer`, `puppo` and 

#### dog race predictions .tsv file
No tidiness issues registered

### Data quality
#### twitter archive .csv file
* there are 2517 entries, only `tweet_id`has 2517 non null entries, all other columns have less
* `tweet_id` has 82 values that are NOT a series of digits and thus not an ID.
* `timestamp`has 66 NaN values
* doggo column contains, names, links, and numbers (probably numerators or denuminators from the rating
* `in_reply_to_status_id` is denoted in scientific notation instead of string of numbers as is normal for id
* all values are non-null object, even when no data is present      
* `in_reply_to_user_id` are denoted as floating point or scientific notation instead of string of numbers
*  data in `source` is not always a twitter link
* `tweet_id` `retweeted_stats_id`, `retweetet_status_user_id`should be integer 
* `retweeted_status_timestamp` should be datetime format
* `retweeted_status_id` and `retweeted_status_user_id` should be integer format
* `rating_numerator` and `rating_denominator` should be in integer format
#### dog race predictions .tsv file
No quality issues registered

## Cleaning

### Issues and solutions
#### Issues with `tweet_id`column in `twitter_archive.csv`file
##### Completeness
`tweet_id` has 82 values that are NOT a series of digits and thus not an ID.
##### Tidyness
`tweet_id` is tidy
#### Quality
`tweet_id` should be in integer format
#### solution
change type of column in panda, and remove rows with no tweet ID, since they cannot be found. a check of .info() on the partial dataframe gives 70+ NaN values in the other columns. Thus the rows can be safely deleted

#### Issues with `in_reply_to_status_id`column in `twitter_archive.csv`file
##### Completeness

##### Tidyness

#### Quality
* `in_reply_to_status_id` is denoted in scientific notation instead of string of numbers as is normal for id
#### solution
a value count on this column shows, that it has 93 unique values out of 2517 entries into the DataFrame. As it is irrevelant for the planned analysis, to what status the tweet was in reply, this column can be deleted.

In [53]:
twitter_archive_clean.in_reply_to_status_id.value_counts()

                         2358
6.671521640794235e+17       2
8.265983652700078e+17       1
6.924173130233324e+17       1
6.737158618537206e+17       1
                         ...
6.75707330206548e+17        1
6.715610021362811e+17       1
7.667118193648886e+17       1
6.813394486558024e+17       1
6.747522332008202e+17       1
Name: in_reply_to_status_id, Length: 93, dtype: int64

#### Issues with `in_reply_to_user_id`column in `twitter_archive.csv`file
##### Completeness

##### Tidyness

#### Quality
* `in_reply_to_user_id` are denoted as floating point or scientific notation instead of string of numbers
#### solution
a value count on this column shows, that it has 33 unique values out of 2517 entries into the DataFrame. As it is irrevelant for the planned analysis, to what status the tweet was in reply, this column can be deleted.

In [54]:
twitter_archive_clean.in_reply_to_user_id.value_counts()

                         2358
4196983835.0               60
21955058.0                  2
7.305050141505823e+17       1
29166305.0                  1
24885566.0                  1
16374678.0                  1
2894131180.0                1
30582082.0                  1
1228325660.0                1
291859009.0                 1
194351775.0                 1
20683724.0                  1
77596200.0                  1
358972768.0                 1
21435658.0                  1
28785486.0                  1
11856342.0                  1
279280991.0                 1
4717297476.0                1
3105440746.0                1
2319108198.0                1
15846407.0                  1
8.405478643549184e+17       1
13615722.0                  1
467036706.0                 1
1198988510.0                1
16487760.0                  1
2281181600.0                1
113211856.0                 1
1582853809.0                1
26259576.0                  1
180670967.0                 1
47384430.0                  1
Name: in_reply_to_user_id, dtype: int64

#### Issues with `timestamp`column in `twitter_archive.csv`file
##### Completeness

##### Tidyness

#### Quality
* `timestamp` should be in datetime format
* `timestamp`has 66 NaN values
#### solution
66 rows of NaN values can be deleted, rows seem to be coinciding with `;;`value for `tweet_id`. delete rows first, then transform format to datetime format.
delete by saving the index nr's to a list and then dropping the columns with pd.drop

In [55]:
twitter_archive_clean.timestamp.value_counts

<bound method IndexOpsMixin.value_counts of 0       2017-08-01 16:23:56 +0000
1       2017-08-01 00:17:27 +0000
2       2017-07-31 00:18:03 +0000
3       2017-07-30 15:58:51 +0000
4       2017-07-29 16:00:24 +0000
                  ...
2512    2015-11-16 00:24:50 +0000
2513    2015-11-16 00:04:52 +0000
2514    2015-11-15 23:21:54 +0000
2515    2015-11-15 23:05:30 +0000
2516    2015-11-15 22:32:08 +0000
Name: timestamp, Length: 2517, dtype: object>

In [64]:
twitter_archive_clean[twitter_archive_clean['timestamp'].isna()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo;;
7,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
30,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
79,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
83,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
107,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2277,WE RIDE;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2278,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2406,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2480,DOG: idgaf this flashlight tastes good as hell;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2481,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

#### Issues with `source`column in `twitter_archive.csv`file
##### Completeness
No issues found
##### Tidyness
`source`contains some links to twitter posts 
#### Quality
`source` has type integer
#### solution
Delete this column as it is of no value to the analysis

In [67]:
twitter_archive_clean.source.value_counts()

"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>"     2221
"<a href=""http://vine.co"" rel=""nofollow"">Vine - Make a Scene</a>"                          91
"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>"                       33
"<a href=""https://about.twitter.com/products/tweetdeck"" rel=""nofollow"">TweetDeck</a>"      11
                                                                                                5
                                                                                             ...
"https://www.gofundme.com/get-indie-home/                                                       1
https://twitter.com/dog_rates/status/697259378236399616/photo/1                                 1
https://twitter.com/dog_rates/status/670842764863651840/photo/1                                 1
"https://www.gofundme.com/help-fix-codys-torn-acl                                               1
https://twitter.com/dog_rates/status/685663452032069632/video/1                                 1
Name: source, Length: 83, dtype: int64

#### Issues with `text`column in `twitter_archive.csv`file
##### Completeness
parts of `text`can be found in several other columns
* `text` contains rating sometimes
* `retweeted_status_id` contains parts of `text` and `rating` and parts of a link sometimes, actual id's are notated in scientific format
* `retweeted_status_user_id` contains part of `text` and `ratings` and part of a link, also user id's notated as floating point and in scientific notation, also contains names
* `retweeted_status_timestamp` contains parts of links, ratings, id, parts of `text` and `timestamps` and `names`
* `expanded_urls` contains parts of `text` and `rating` and `expanded_urls` and part of links
##### Tidyness
 
#### Quality

#### solution

### storing the data
Store the clean DataFrame(s) in a CSV file with the main one named `twitter_archive_master.csv`. If additional files exist because multiple tables are required for tidiness, name these files appropriately. Additionally, you may store the cleaned data in a SQLite database (which is to be submitted as well if you do).

<bound method Series.isna of 0
1        she's available for pats
2
3
4
                  ...
2512
2513
2514
2515
2516
Name: retweeted_status_id, Length: 2517, dtype: object>

In [79]:
twitter_archive_clean[twitter_archive_clean['retweeted_status_id'].isna()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo;;
6,890971913173991426,,,2017-07-28 16:27:12 +0000,"""<a href=""""http://twitter.com/download/iphone""...","""Meet Jax. He enjoys ice cream so much he gets...",None,None,None,None,None,None,None,None,None,None,None
7,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
30,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
60,881536004380872706,,,2017-07-02 15:32:16 +0000,"""<a href=""""http://twitter.com/download/iphone""...","""Here is a pupper approaching maximum borkdriv...",None,None,None,None,None,None,None,None,None,None,None
79,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2451,667152164079423490,,,2015-11-19 01:27:25 +0000,"""<a href=""""http://twitter.com/download/iphone""...",This is Pipsy. He is a fluffball. Enjoys trave...,None,None,None,None,None,None,None,None,None,None,None
2464,666835007768551424,,,2015-11-18 04:27:09 +0000,"""<a href=""""http://twitter.com/download/iphone""...",These are Peruvian Feldspars. Their names are ...,None,None,None,None,None,None,None,None,None,None,None
2479,666435652385423360,,,2015-11-17 02:00:15 +0000,"""<a href=""""http://twitter.com/download/iphone""...","""""""Can you behave? You're ruining my wedding d...",None,None,None,None,None,None,None,None,None,None,None
2480,DOG: idgaf this flashlight tastes good as hell;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2481,;;,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

# Analysis

. At least three (3) insights and one (1) visualization must be produced.

## Data transformation and augmentation

## Prelimenary analysis

## Statistical Analysis

# Conclusions

Create a 300-600 word written report called `wrangle_report.pdf` or `wrangle_report.html` that briefly describes your wrangling efforts. This is to be framed as an internal document.

Create a 250-word-minimum written report called `act_report.pdf` or `act_report.html` that communicates the insights and displays the visualization(s) produced from your wrangled data. This is to be framed as an external document, like a blog post or magazine article, for example.

Both of these documents can be created in separate Jupyter Notebooks using the Markdown functionality of Jupyter Notebooks, then downloading those notebooks as PDF files or HTML files (see image below). You might prefer to use a word processor like Google Docs or Microsoft Word, however.